# 데이터 과학 트레이닝 북

* CH1 책의 개요와 파이썬 기초

In [2]:
# p.8

print('Hello, world !')

Hello, world !

In [3]:
# p.10

print(1+1)
print(2*5)
print(10**3)

2
10
1000

In [4]:
# p.12-13

msg = 'test'
print(msg)
print(msg[0])
print(msg[1])
print(msg[5])

test
t
e

IndexError: ignored

In [5]:
#p.13-14

data = 1
print(data)

data = data + 10
print(data)

1
11

In [6]:
# p.14

# 예약어를 표시하는 명령어
__import__('keyword').kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [7]:
# p.15

# 내장형 함수를 표시하는 명령어
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'dreload',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [8]:
# p.16

data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(data_list)

print('변수 형: ', type(data_list))
print('두 번째 원소:', data_list[1])
print('원소의 개수:', len(data_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
변수 형:  <class 'list'>
두 번째 원소: 2
원소의 개수: 10

In [9]:
# p.17

# 리스트 자체가 두 번 생성 됨
print("data_list*2", data_list*2)

data_list*2 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# p.17 Let's Try

data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print('original data_list      ', data_list)

data_list.append(11)
print('after .append(11)       ', data_list)

data_list.remove(5)
print('after .remove(5)        ', data_list)

data_list.pop(2)
print('after .pop(2)           ', data_list)

del data_list[3]
print('after del data_list[3]  ', data_list)

data_list.insert(0, 20)
print('after .insert(0, 20)    ', data_list)

data_list.extend([30, 40])
print('after .extend([30, 40]) ', data_list)

print('data_list+[12, 13]      ', data_list+[12, 13])

print('data_list-[12, 13]      ', data_list-[12, 13]) # 마이너스 연산은 안됨

# cf. https://wikidocs.net/16040

original data_list       [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
after .append(11)        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
after .remove(5)         [1, 2, 3, 4, 6, 7, 8, 9, 10, 11]
after .pop(2)            [1, 2, 4, 6, 7, 8, 9, 10, 11]
after del data_list[3]   [1, 2, 4, 7, 8, 9, 10, 11]
after .insert(0, 20)     [20, 1, 2, 4, 7, 8, 9, 10, 11]
after .extend([30, 40])  [20, 1, 2, 4, 7, 8, 9, 10, 11, 30, 40]
data_list+[12, 13]       [20, 1, 2, 4, 7, 8, 9, 10, 11, 30, 40, 12, 13]

TypeError: ignored

In [11]:
# p.18

data_dic = {'apple' : 100,
            'banana': 100,
            'orange': 300,
            'mango' : 400,
            'melon' : 500}
print(data_dic['melon'])

500

In [12]:
# p.18 Let's Try 0

print(data_dic['orange'])
print(data_dic['apple'] + data_dic['orange'])

300
400

In [13]:
# p.18 Let's Try 1

data_dic = {'apple'  : 100,
            'banana' : 100,
            'orange' : 300,
            'mango'  : 400,
            'melon'  : 500}

print('original data_dic\n', data_dic)

data_dic['apple'] = 200
print("modifying the apple's value\n", data_dic)

data_dic['grape'] = 200
print("inserting a set (grape)\n", data_dic)

del data_dic['mango']
print("deleting the mango set\n", data_dic)

data_dic.pop('melon')
print("using the method .pop(melon)\n", data_dic)

data_dic.update({'berry': 600})
print("using the method .update({'berry': 600})\n", data_dic)

# cf. https://devinside.tistory.com/161

original data_dic
 {'apple': 100, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500}
modifying the apple's value
 {'apple': 200, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500}
inserting a set (grape)
 {'apple': 200, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500, 'grape': 200}
deleting the mango set
 {'apple': 200, 'banana': 100, 'orange': 300, 'melon': 500, 'grape': 200}
using the method .pop(melon)
 {'apple': 200, 'banana': 100, 'orange': 300, 'grape': 200}
using the method .update({'berry': 600})
 {'apple': 200, 'banana': 100, 'orange': 300, 'grape': 200, 'berry': 600}

In [14]:
# p.19-20

print("1==1", 1==1)
print("1==2", 1==2)
print("1!=2", 1!=2)
print("1>0" , 1>0)
print("1>2" , 1>2)
print("(1>0) and (10>5)", (1>0) and (10>5))
print("(1<0) or (10>5)", (1<0) or (10>5))
print("not (1<0)", not (1<0))

print("\n(1>0) & (10>5)", (1>0) & (10>5)) # just curious
print("(1<0) | (10>5)", (1<0) | (10>5))   # just curious

1==1 True
1==2 False
1!=2 True
1>0 True
1>2 False
(1>0) and (10>5) True
(1<0) or (10>5) True
not (1<0) True

(1>0) & (10>5) True
(1<0) | (10>5) True

In [17]:
# p.20

findvalue = 5

if findvalue in data_list:
    print('{0}은 들어있습니다.' .format(findvalue))
else:
    print('{0}은 들어 있지 않습니다.' .format(findvalue))

print('여기서부터는 if문과 관계없이, 반드시 표시됩니다.')

5은 들어 있지 않습니다.
여기서부터는 if문과 관계없이, 반드시 표시됩니다.

In [19]:
# p.21

print('{0}와 {1}을 더하면 {2}입니다.' .format(2, 3, 5))

# 문자열.format(값, ...) 구문 vs. % 구문
    # %를 이용하는 방법은 오래된 방식이라 향후 폐지될 가능성이 있습니다.
    # 따라서 format 함수를 사용하기 바랍니다.

2와 3을 더하면 5입니다.

In [21]:
########################################################################
# p.21
    # format 함수에서 숫자의 자릿수 표시 방법을 지정하는 옵션 찾아보기

In [27]:
# p.22

total = 0

print('<   for문 리스트   >')
for num in [1, 2, 3]:
    print('num:', num)
    total = total + num

print('total:', total)


print('\n<   for문 딕셔너리   >')
for dic_key in data_dic:
    print(dic_key, data_dic[dic_key])

<   for문 리스트   >
num: 1
num: 2
num: 3
total: 6

<   for문 딕셔너리   >
apple 200
banana 100
orange 300
grape 200
berry 600

In [30]:
# p.23

print('<   for문 range(11)   >')
for i in range(11):
    print(i)

print('\n<   for문 range(1, 11, 2)   >') # range(시작 값, 마지막 값, 간격)
for i in range(1, 11, 2):
    print(i)

<   for문 range(11)   >
0
1
2
3
4
5
6
7
8
9
10

<   for문 range(1, 11, 2)   >
1
3
5
7
9

In [47]:
# p.23-25

print('<   .items()   >')
for key, value in data_dic.items():
    print(key, value)

print('\n<   comprehension   >') # for문을 이용해 추출한 데이터를 별도의 리스트 데이터로 만드는 방법
print('* original data_list')
print(data_list)
print("* [i*2 for i in data_list]            ")
print([i*2 for i in data_list])
print("* [i*2 for i in data_list if i%2 == 0]")
print([i*2 for i in data_list if i%2 == 0])

print('\n<   zip   >') # 각기 다른 리스트에서 동시에 값 추출
for one, two, in zip([1, 2, 3], [11, 12, 13]):
    print(one, '과', two)

print('\n<   while   >') # 조건이 성립할 동안 계속 반복 실행되는 구문
num = 1
while num <= 10:
    print(num)
    num = num+1
print('마지막 값은 {0}입니다' .format(num))

<   .items()   >
apple 200
banana 100
orange 300
grape 200
berry 600

<   comprehension   >
* original data_list
[20, 1, 2, 4, 7, 8, 9, 10, 11, 30, 40]
* [i*2 for i in data_list]
[40, 2, 4, 8, 14, 16, 18, 20, 22, 60, 80]
* [i*2 for i in data_list if i%2 == 0]
[40, 4, 8, 16, 20, 60, 80]

<   zip   >
1 과 11
2 과 12
3 과 13

<   while   >
1
2
3
4
5
6
7
8
9
10
마지막 값은 11입니다

In [68]:
# p.25-26

print('def 함수명(인수명):\n\treturn 반환 값\n')

def calc_multi(a, b):
    return a * b
print(calc_multi(3, 10))

def calc_print():
    print('print 샘플 함수')
calc_print()

def calc_fib(n):
    if n == 1 or n == 2:
        return 1
    else:
        return calc_fib(n-1) + calc_fib(n-2)
print('피보나치 수:', calc_fib(10))

def 함수명(인수명):
	return 반환 값

30
print 샘플 함수
피보나치 수: 55

In [99]:
# p.27 Let's Try

def calc_fib_new(n):
    fib_list = [1, 1]
    if n > 3:
        for num in range(3, n+1, 1):
            fib_list.append(fib_list[num-3] + fib_list[num-2])
    return fib_list[n-1]

print(" 1st", calc_fib_new(1))
print(" 2nd", calc_fib_new(2))
print(" 5th", calc_fib_new(5))
print("10th", calc_fib_new(10))
print("99th", calc_fib_new(99))

 1st 1
 2nd 1
 5th 5
10th 55
99th 218922995834555169026

In [119]:
# p.27

# 익명 함수란 말 그대로 이름이 없는 함수이며 함수를 그 자리에서 바로 생성하는 방법
# 리스트, 배열 등의 원소 값에 대해 어떤 함수를 실행해야 할 때 주로 사용

print('<   익명 함수   >')
print('(lambda 인수명: 작업 내용)')
print('* (lambda a, b: a*b)(3, 10) \t\t', (lambda a, b: a*b)(3, 10))

# map 함수 = 고차함수. 함수를 인수 값으로 받거나 결과를 함수로 반환
# 개별 원소에 대해 어떤 작업을 수행할 때 사용
def calc_double(x):
    return x*2
print('\n<   map 함수   >')
print('* list(map(calc_double, [1,2,3,4])) \t',  list(map(calc_double, [1,2,3,4])))
print('* map(calc_double, [1,2,3,4]) \t\t',      map(calc_double, [1,2,3,4])) # just curious

print('\n<   map 함수 * 익명 함수   >')
print('* list(map(lambda x: x*2, [1,2,3,4])) \t',  list(map(lambda x: x*2, [1,2,3,4])))

<   익명 함수   >
(lambda 인수명: 작업 내용)
* (lambda a, b: a*b)(3, 10) 		 30

<   map 함수   >
* list(map(calc_double, [1,2,3,4])) 	 [2, 4, 6, 8]
* map(calc_double, [1,2,3,4]) 		 <map object at 0x7f6a02713ed0>

<   map 함수 * 익명 함수   >
* list(map(lambda x: x*2, [1,2,3,4])) 	 [2, 4, 6, 8]

In [120]:
# p.28 Let's Try

In [124]:
# p.28 Practice

### 1.1
charc = 'Data Science'
for c in range(len(charc)):
    print(charc[c])

### 1.2
num = 50
total = 0
for n in range(50):
    total += n+1
print(total)
print(sum(range(1, 51))) # 이 방법 좋네

D
a
t
a

S
c
i
e
n
c
e
1275
1275

In [127]:
# p.29-30

class PrintClass:
    def print_me(self):
        print(self.x, self.y)

p1 = PrintClass() # 인스턴스
p1.x = 10         # 인스턴스 속성 지정
p1.y = 100
p1.z = 1000

p1.print_me()
p1.z

10 100

1000

In [134]:
# p.30-32

class MyCalcClass:
    
    def __init__(self, x, y): # 특별한 메서드 생성자
        self.x = x
        self.y = y
    
    def calc_add1(self, a, b):
        return a+b
    
    def calc_add2(self):
        return self.x + self.y

    def calc_multi(self, a, b):
        return a*b

    def calc_print(self, a):
        print('data:{0}:y의 값{1}' .format(a, self.y))

instance_1 = MyCalcClass(1, 2)
instance_2 = MyCalcClass(5, 10)

print("instance_1")
print('2개의 수를 더함(새로운 숫자를 인수로 지정) :', instance_1.calc_add1(5, 3))
print('2개의 수를 더함(인스턴스화 될 때의 값      :', instance_1.calc_add2())
print('2개의 수를 곱함                            :', instance_1.calc_multi(5, 3))
instance_1.calc_print(5)

print("\ninstance_2")
print('2개의 수를 더함(새로운 숫자를 인수로 지정) :', instance_2.calc_add1(10, 3))
print('2개의 수를 더함(인스턴스화 될 때의 값      :', instance_2.calc_add2())
print('2개의 수를 곱함                            :', instance_2.calc_multi(4, 3))
instance_2.calc_print(20)

instance_1
2개의 수를 더함(새로운 숫자를 인수로 지정) : 8
2개의 수를 더함(인스턴스화 될 때의 값      : 3
2개의 수를 곱함                            : 15
data:5:y의 값2

instance_2
2개의 수를 더함(새로운 숫자를 인수로 지정) : 13
2개의 수를 더함(인스턴스화 될 때의 값      : 15
2개의 수를 곱함                            : 12
data:20:y의 값10

In [136]:
# p.32 Let's Try

class MyCalcClass:
    
    def __init__(self, x, y): # 특별한 메서드 생성자
        self.x = x
        self.y = y
    
    def calc_add1(self, a, b):
        return a+b
    
    def calc_add2(self):
        return self.x + self.y

    def calc_multi(self, a, b):
        return a*b

    def calc_sub(self, a, b): # 추가
        return (self.x - a, self.y - b)

    def calc_print(self, a):
        print('data:{0}:y의 값{1}' .format(a, self.y))

instance_3 = MyCalcClass(2, 8)
print("instance_3")
print('2개의 수를 더함(새로운 숫자를 인수로 지정) :', instance_3.calc_add1(4, 6))
print('2개의 수를 더함(인스턴스화 될 때의 값      :', instance_3.calc_add2())
print('2개의 수를 곱함                            :', instance_3.calc_multi(10, 12))
print('2개를 입력 받아 각각 인스터화 값에서 빼줌) :', instance_3.calc_sub(14, 16))
instance_3.calc_print(18)

instance_3
2개의 수를 더함(새로운 숫자를 인수로 지정) : 10
2개의 수를 더함(인스턴스화 될 때의 값      : 10
2개의 수를 곱함                            : 120
2개를 입력 받아 각각 인스터화 값에서 빼줌) : (-12, -8)
data:18:y의 값8

In [148]:
# p.32 Pracice 1장 종합문제

# 1-1. 소수 판정